<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to learning platform comparison</title>
    </head>
    <body>
        <h1>Welcome to learning platform comparison</h1>
        <h2>Compare Different Learning Platforms</h2>
        <p>Here you can compare various programming learning platforms like LeetCode, CodeChef, and SoloLearn.</p>

        <a href="/sololearn">Visit SoloLearn</a><br>
        <a href="/codechef">Visit CodeChef</a><br>
        <a href="/leetcode">Visit LeetCode</a><br>
    </body>