<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Welcome to learning platform comparison</title>
    </head>
    <body>
        <h1>Welcome to learning platform comparison</h1>
        <h2>Compare Different Learning Platforms</h2>
        <p>Here you can compare various programming learning platforms like LeetCode, CodeChef, and SoloLearn.</p>

        <a href="/sololearn">
            <button>SoloLearn</button>
        </a>
        <a href="/codechef">
            <button>CodeChef</button>
        </a>
        <a href="/leetcode">
            <button>LeetCode</button>
        </a>

        <img src="{{ url_for('static', filename='Cchef.jpg') }}" alt="CodeChef Logo" width="200">
        <img src="{{ url_for('static', filename='soloimage.png') }}" alt="SoloLearn Logo" width="200">

    </body>