<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>SoloLearn</title>
    </head>
    <body>
        <h1>SoloLearn</h1>
        <h2>Welcome to SoloLearn!</h2>
        <p>SoloLearn is a platform for learning programming. It offers a variety of courses and tutorials to help developers learn new skills.</p>
        <a href="https://www.sololearn.com/" target="_blank">
            <button>Visit SoloLearn</button>
        </a>
        <button onclick="window.location.href='/'">Back to Home</button>
    </body>
</html>